<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!-- 继承 Material 无标题主题，和你的 material 1.11.0 兼容 -->
    <style name="Theme.TVLive.NoTitle" parent="Theme.MaterialComponents.Light.NoActionBar">
        <item name="windowNoTitle">true</item>
        <item name="windowActionBar">false</item>
    </style>
</resources>
